<div class="progress large-1 success">
  <span class="meter" style="width:50%"></span>
</div>

<div class="progress large-6 round warning">
  <span class="meter" style="width:50%"></span>
</div>

<div class="progress large-9 radius alert">
  <span class="meter" style="width:50%"></span>
</div>

<div class="progress large-11 round secondary">
  <span class="meter" style="width:50%"></span>
</div>

<!-- Default width -->
<div class="progress large-12">
  <span class="meter" style="width:50%"></span>
</div>