<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <!-- 如果你不需要标题或图标可以删掉它 -->
      <h1><a href="#">New Bird</a></h1>
    </li>
      <!-- 小屏幕上折叠按钮: 去掉 .menu-icon 类，可以去除图标。
      如果需要只显示图片，可以删除 "Menu" 文本 -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>菜单</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="active"><a routerLink="index">主页</a></li>
      <li><a routerLink="little">碎片</a></li>
      <!-- <li><a routerLink="error">Page 3</a></li> -->
    </ul>
    <ul class="right">
      <li><a routerLink="user">用户</a></li>
      <li><a routerLink="login">登录</a></li>
      <li><a > </a></li>
      <!-- <li><a routerLink="error">Page 3</a></li> -->
    </ul>
  </section>
</nav>




<!-- <app-user></app-user> -->
<!-- <app-error></app-error> -->
<!-- <app-login></app-login> -->
<div class="row" style="margin-topk:2.8125rem">
  <router-outlet></router-outlet>
</div>


