<h2>Foundation下的图片组件<small>一个不错的模块</small></h2>
<hr>
<ul class="clearing-thumbs" data-clearing>
  <li><a href="http://www.runoob.com/try/demo_source/rock600x400.jpg" class="th"><img src="http://www.runoob.com/try/demo_source/rock200x100.jpg"></a></li>
  <li><a href="http://www.runoob.com/try/demo_source/skies600x400.jpg" class="th"><img src="http://www.runoob.com/try/demo_source/skies200x100.jpg"></a></li>
  <li><a href="http://www.runoob.com/try/demo_source/lights600x400.jpg" class="th"><img src="http://www.runoob.com/try/demo_source/lights200x100.jpg"></a></li>
</ul>
