<!-- <app-first></app-first> -->
 <div class="row">
  <div class="medium-2 columns" style="background-color:#f1f1f1;">
    <ul class="side-nav">
      <li class="active"><a routerLink="first">一</a></li>
      <li><a routerLink="two">二</a></li>
      <li><a routerLink="three">三</a></li>
    </ul>
  </div>
  <div class="medium-10 columns right-columns">
    <!-- <div class="grid-x row panel">
      <div class="small-12 medium-6 large-3 columns">
        <div class="button info"></div>
        <div class="panel callout">
          <div class="label round alert">1</div> 
        </div>  
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <div class="button alert"></div>
        <div class="panel callout radius">
          <div class="label radius alert">2</div>
        </div>  
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <div class="button warning"></div>
        <div class="panel callout round">
          <div class="label round alert">3</div>
        </div>  
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <div class="button success"></div>
        <div class="panel callout">
          <div class="label round alert">4</div>
        </div>  
      </div>
    
      <div data-alert class="small-12 columns alert-box">today is tuesday
        <a href="#" class="close">&times;</a>
      </div>
      <div data-alert class="small-12 columns alert-box warning">today is tuesday
        <a href="#" class="close">&times;</a>
      </div>
      <div data-alert class="small-12 columns alert-box alert">today is tuesday
        <a href="#" class="close">&times;</a>
      </div>
      <div data-alert class="small-12 columns alert-box success">today is tuesday
        <a href="#" class="close">&times;</a>
      </div>
      <div data-alert class="small-12 columns alert-box info">today is tuesday
        <a href="#" class="close">&times;</a>
      </div>
      <div data-alert class="small-12 columns alert-box secondary">today is tuesday
        <a href="#" class="close">&times;</a>
      </div>
    </div> -->
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <app-first></app-first> -->
<!-- <app-two></app-two>   -->
<!-- <app-three></app-three>   -->
