 <div class="switch">
  <input id="mySwitch1" type="radio" name="myGroup">
  <label for="mySwitch1"></label>
</div>

<div class="switch">
  <input id="mySwitch2" type="radio" name="myGroup" checked>
  <label for="mySwitch2"></label>
</div> 

<div class="switch">
  <input id="mySwitch" type="checkbox">
    <label for="mySwitch"></label>
</div>
<div class="switch radius">
  <input id="mySwitch3" type="checkbox">
    <label for="mySwitch3"></label>
</div>
<div class="switch round">
  <input id="mySwitch4" type="checkbox">
    <label for="mySwitch4"></label>
</div>